<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/10750014-31d7-460c-a9cf-007435d71205/resourceGroups/SampleAlphaToDo_group/providers/Microsoft.Web/sites/SampleAlphaToDo</ResourceId>
    <ResourceGroup>SampleAlphaToDo_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://samplealphatodo.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://samplealphatodo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$SampleAlphaToDo</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>